<?xml version="1.0" encoding="UTF-8"?>

<!-- Default logback configuration provided for import, equivalent to the 
	programmatic initialization performed by Boot -->

<configuration>
	<property name="LOG_FILE" value="/tmp/kemao_1_logs/subscribe/spring.log"/>
	<property name="CONSOLE_LOG_PATTERN"
		value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%C %L){cyan} %clr(:){faint} %n    %m%n%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<!-- 嵌入式Tomcat的日志输出 -->
	<logger name="org.apache.tomcat" level="error" />
	<!-- Spring日志级别 -->
	<logger name="org.springframework" level="error" />
	<!-- Hibernate的日志输出 -->
	<logger name="org.hibernate.SQL" level="trace" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		level="trace" />
	<!-- 项目本身的日志配置 -->
	<!-- trace可以输出的信息最详细，从详细到不那么详细， -->
	<!-- 依次是：trace > debug > info > warn > error > off -->
	<logger name="com.example" level="trace" />

	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
